<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="thymeleaf-extras-springsecurity4" lang="ru">
    <head>
            <meta charset="UTF-8">
            <title>Login</title>
        <link rel="icon" th:href="@{/images/icon.png}" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <link href="css/logo-nav.css" rel="stylesheet">

    </head>
        <body>
        <!--<header>-->
            <!--<nav class="navbar navbar-expand-lg navbar-light fixed" style="background-color: #e3f2fd;">-->
                <!--<div class="container">-->
                    <!--<a class="navbar-brand" >-->
                        <!--<img th:src="@{/images/samsung_logo.png}" width="150" height="30" alt="">-->
                    <!--</a>-->
                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
                        <!--<span class="navbar-toggler-icon"></span>-->
                    <!--</button>-->
                    <!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
                        <!--<ul class="navbar-nav ml-auto">-->
                            <!--<li class="nav-item active">-->
                                <!--<a class="nav-link" th:href="@{/}">Home-->
                                    <!--<span class="sr-only">(current)</span>-->
                                <!--</a>-->
                            <!--</li>-->

                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link" href="#">About</a>-->
                            <!--</li>-->
                            <!--<li sec:authorize="isAuthenticated()"class="nav-item">-->
                                <!--<a class="nav-link" th:href="@{/logout}">Logout</a>-->
                            <!--</li>-->
                            <!--<li sec:authorize="!isAuthenticated()"class="nav-item">-->
                                <!--<a class="nav-link" th:href="@{/login}">LogIn</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</nav>-->
        <!--</header>-->
        <div id="wrapper">
            <form action=""  th:action="@{/login}"  name="login-form" class="login-form" method="post">
                <div class="header">
                    <h1>Авторизация</h1><br>

                    <span>Введите ваши регистрационные данные для входа в личный кабинет. Если вы не зарегистрированы, то нажмите "регистрация".</span>
                </div>
                <div class="content">
                    <input id="login" name="login" type="text" class="input username"  value="Логин" onfocus="this.value=''" />
                    <input id="password" name="password" type="password" class="input password"  value="Пароль" onfocus="this.value=''" />
                </div>
                <div class="footer">
                    <input type="submit" name="submit" value="Войти" class="button" />
                    <!--<input type="submit" name="submit" value="Регистрация" class="register" />-->
                    <a href="/registration" target="_blank" class="register">Регистрация</a>
                </div>
            </form>
        </div>
        <footer class="footer3">
            <p class="help">© 2018 Онлайн-магазин Samsung, Минск</p>
            <p class="cop">Присоединяйтесь к нам в социальных сетях:</p>
            <a href="https://vk.com/samsung" ><img th:src="@{/images/vk.svg}"  class="vk"></a>
            <a href="https://twitter.com/samsungru" ><img th:src="@{/images/twitter.png}" class="twitter"></a>
            <a href="https://ru-ru.facebook.com/SamsungMobile/" ><img th:src="@{/images/facebook.png}"  class="facebook"></a>
            <a href="https://www.instagram.com/samsungru/" ><img  th:src="@{/images/instagram.png}"  class="instagram"></a>
        </footer>
    </body>
</html>