<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>О нас</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <link rel="icon" th:href="@{/images/favicon.ico}"  type="image/x-icon">
        <link href="css/logo-nav.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/samsung_logo.png}" width="150" height="30" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Главная
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">О нас</a>
                        </li>
                        <li sec:authorize="isAuthenticated()"class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Выход</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()"class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <body>

    <div  class="qaz">

    <h1>О нас</h1>

    <a>
        По вопросам, касающимся работы ресурса, вы можете обратиться по адресу samsung.online-shop@gmail.com.<br><br>

        <h6>Реквизиты и юридический адрес:</h6><br>

        ООО «SAMSUNG» (Общество с ограниченной ответственностью «SAMSUNG»)<br><br>

        220036, г. Минск, пр. Дзержинского, 95<br>
        УНН 92660264<br>
        ОКПО 92658384<br>
        Р/сч BY40TECN30530648725866294617 в ОАО «Беларусбанк», г. Минск, ул. Платонова, д.39<br><br>

        Директора Мажанов Владислав Александрович, Задорожнюк Юлия Артуровна<br><br>

        E-mail: samsung.online-shop@gmail.com<br>

        http://www.samsung.online-shop.by<br>

        +375 (29) 759-26-48<br><br>

        Информация об ограничениях. Любое использование фото и текста, в том числе перепечатка <br>
        (целиком и частично), запрещено без разрешения редакции. samsung.online-shop@gmail.com<br>
    </a>

    </div>



    </body>

    <footer class="footer7">
        <p class="help">© 2018 Онлайн-магазин Samsung, Минск</p>
        <p class="cop">Присоединяйтесь к нам в социальных сетях:</p>
        <a href="https://vk.com/samsung" ><img th:src="@{/images/vk.svg}"  class="vk"></a>
        <a href="https://twitter.com/samsungru" ><img th:src="@{/images/twitter.png}" class="twitter"></a>
        <a href="https://ru-ru.facebook.com/SamsungMobile/" ><img th:src="@{/images/facebook.png}"  class="facebook"></a>
        <a href="https://www.instagram.com/samsungru/" ><img  th:src="@{/images/instagram.png}"  class="instagram"></a>
    </footer>

</html>

