<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <link rel="icon" th:href="@{/images/favicon.ico}"  type="image/x-icon">
    <link href="css/logo-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="sticky-footer.css" rel="stylesheet"></head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" >
                <img th:src="@{/images/samsung_logo.png}" width="150" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin}">Главная
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
<h1 class="mt-5 text-center">Добро пожаловать !</h1>
<h2 class="mt-5 text-center" sec:authentication="name"></h2>

<div class="container">


    <form action="#" th:action="@{/admin/manageUsers}" method="post">
        <div class="card bg-white rounded shadow-sm border-info mb-3 text-center">
            <div class="card-body">
                <h5 class="card-title">Управление пользователями</h5>
                <p class="card-text">В данном разделе предоставляется управление пользователями.</p>
                <input type="submit" value="Перейти" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </form>

    <form action="#" th:action="@{/admin/manageOrders}" method="post">
        <div class="card  bg-white rounded shadow-sm mb-3 border-info text-center">
            <div class="card-body">
                <h5 class="card-title">Управление заказами</h5>
                <p class="card-text">В данном разделе предоставляется возможность просмотра заказов и их удаление.</p>
                <input type="submit" value="Перейти" class="btn btn-primary btn-lg " />
            </div>
        </div>
    </form>

</div>
</body>

</html>