<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
            <meta charset="UTF-8">
            <title>Login</title>
            <link rel="icon" th:href="@{/images/icon.png}" href="icon.png" type="image/x-icon">
            <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        </head>
        <body>
        <header>
            <img class="logo_img" th:src="@{/images/samsung_logo.png}">
            <a href="index.html"> <img class="login_pic" th:src="@{/images/login.ico}" src="login.ico"> </a>
        </header>
        <div id="wrapper">
            <form action=""  th:action="@{/login}" th:object="${user}" name="login-form" class="login-form" method="post">
                <div class="header">
                    <h1>Авторизация</h1>
                    <span>Введите ваши регистрационные данные для входа в личный кабинет. Если вы не зарегистрированы, то нажмите "регистрация".</span>
                </div>
                <div class="content">
                    <input id="login" name="login" type="text" class="input username"  value="Логин" onfocus="this.value=''" />
                    <input id="password" name="password" type="password" class="input password"  value="Пароль" onfocus="this.value=''" />
                </div>
                <div class="footer">
                    <input type="submit" name="submit" value="Войти" class="button" />
                    <!--<input type="submit" name="submit" value="Регистрация" class="register" />-->
                    <a href="/registration" target="_blank" class="register">Регистрация</a>
                </div>
            </form>
        </div>
        <footer class="footer3">
            <p class="help">© 2018 Онлайн-магазин Samsung, Минск</p>
            <p class="cop">Присоединяйтесь к нам в социальных сетях:</p>
            <a href="https://vk.com/samsung" ><img th:src="@{/images/vk.svg}"  class="vk"></a>
            <a href="https://twitter.com/samsungru" ><img th:src="@{/images/twitter.png}" class="twitter"></a>
            <a href="https://ru-ru.facebook.com/SamsungMobile/" ><img th:src="@{/images/facebook.png}"  class="facebook"></a>
            <a href="https://www.instagram.com/samsungru/" ><img  th:src="@{/images/instagram.png}"  class="instagram"></a>
        </footer>
    </body>
</html>