<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  xmlns:sec="thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Orders</title>
    <link rel="icon" th:href="@{/images/favicon.ico}"  type="image/x-icon">
    <link href="css/logo-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="sticky-footer.css" rel="stylesheet"></head>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/samsung_logo.png}" width="150" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin}">Главная
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Товар</th>
        <th scope="col">Дата заказа</th>
        <th scope="col">Время заказа</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Стоимость заказа</th>
        <th scope="col">Оплата</th>
        <th scope="col">Доставка</th>
        <th scope="col">id клиента</th>
        <th scope="col">id места достаки</th>
        <th scope="col">Удаление</th>
        <th scope="col">Изменение статуса</th>

    </tr>
    </thead>
    <tbody >
    <div th:each="order : ${orders}">
        <tr >
            <th scope="row" th:text="${order.id}">1</th>
            <td  th:each="goods:${order.goods}" th:text="${goods.nameOfModel}">Mark</td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.timeOfOrder}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td th:text="${order.orderCost}"></td>
            <td th:text="${order.payment}"></td>
            <td th:text="${order.delivery}"></td>
            <td th:text="${order.idClient}"></td>
            <td th:text="${order.idDeliveryPlace}"></td>

            <form action="#" th:action="@{/admin/manageOrders/delete}" th:field="${order}" method="post">
                <td >
                    <input type="hidden" th:value="${order.id}" name="id" />
                    <input type="submit" value="Удалить" class="btn btn-outline-primary" />
                </td>
            </form>
            <form action="#" th:action="@{/admin/manageOrders/changeStatus}" th:field="${order}" method="post">
                <td >
                    <input type="hidden" th:value="${order.id}" name="id" />
                    <input type="submit" value="Доставлено" class="btn btn-outline-primary" />
                </td>
            </form>
        </tr>
    </div>
    </tbody>
</table>

</body>
</html>