<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pay</title>
        <link rel="icon" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <header>
            <img class="logo_img" src="samsung_logo.png">
            <a href="phone.html"> <img class="login_pic" src="login.ico"> </a>
        </header>
        <p class="dp">Оформление заказа</p>
        <img class="phone3" src="s9.jpeg">
        <!--<img class="phone" src="https://content2.onliner.by/catalog/device/header/939908762a8a37184b9ee967945b17ab.jpeg">-->
        <p class="cl2">Samsung Galaxy S9</p> <!--ПОДТЯНУТЬ НАЗВАНИЕ ИЗ БД-->
        <p class="op2">Главные характеристики из БД</p>
        <p class="st">Общая стоимость:</p>
        <p class="price2">1000$</p> <!--ПОДТЯНУТЬ ЦЕНУ ИЗ БД (СТОИМОСТЬ+ДОСТАВКА???)-->
        <p class="dos">Доставка</p>
        <p class="pol1">___________________________________</p>
        <p class="reg3">Город/населенный пункт:</p>
        <input type="text"class="reg4" placeholder="   г. Минск">
        <p class="reg3">Адрес доставки:</p>
        <input type="text"class="reg4" placeholder="   Улица, дом, квартира">
        <p class="reg3">Телефон:</p>
        <input type="text"class="reg4" placeholder="   +375 (29) 000 00 00">
        <p class="reg3">Комментарий:</p>
        <input type="text"class="reg4" placeholder="   Личные пожелания">
        <p class="opl">Оплата</p>
        <p class="pol2">___________________________________</p>
        <div class="choice">
            <label><input type = "radio" name = "radio" value="1">Оплатить при получении</label><Br>
            <p></p>
            <label><input type = "radio" name = "radio" value="2">Оплатить сейчас онлайн</label><Br>
        </div>
        <input type="submit" class="buy_but" value="Подтвердить заказ">
        <footer class="footer5">
            <p class="help">© 2018 Онлайн-магазин Samsung, Минск</p>
            <p class="cop">Присоединяйтесь к нам в социальных сетях:</p>
            <a href="https://vk.com/samsung" ><img src="vk.svg" class="vk"></a>
            <a href="https://twitter.com/samsungru" ><img src="twitter.png" class="twitter"></a>
            <a href="https://ru-ru.facebook.com/SamsungMobile/" ><img src="facebook.png" class="facebook"></a>
            <a href="https://www.instagram.com/samsungru/" ><img src="instagram.png" class="instagram"></a>
        </footer>
    </body>
</html>