<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pay</title>
        <link rel="icon" th:href="@{/images/icon.png}" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    </head>
    <body>
        <header>
            <img class="logo_img" th:src="@{/images/samsung_logo.png}">
            <img class="login_pic" th:src="@{/images/login.ico}" src="login.ico">
            <div sec:authorize="isAuthenticated()">
                <a  th:href="@{/logout}" target="_self"  class="login">Выход</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login" target="_blank" class="login">Вход в систему</a>
            </div>
        </header>
        <p class="dp">Оформление заказа</p>
        <img class="phone3" th:src="${phone.pict}">
        <!--<img class="phone" src="https://content2.onliner.by/catalog/device/header/939908762a8a37184b9ee967945b17ab.jpeg">-->
        <p class="cl2" th:text="${phone.nameOfModel}"></p> <!--ПОДТЯНУТЬ НАЗВАНИЕ ИЗ БД-->
        <p class="op2">Главные характеристики из БД</p>
        <p class="st">Общая стоимость:</p>
        <p class="price2"  th:inline="text" >  [[${phone.cost}]] р</p> <!--ПОДТЯНУТЬ ЦЕНУ ИЗ БД (СТОИМОСТЬ+ДОСТАВКА???)-->
        <p class="dos">Доставка</p>
        <p class="pol1">___________________________________</p>

        <form action="#" th:action="@{/accept}" th:object="${pay}" method="post">
        <p class="reg3">Город/населенный пункт:</p>
        <input type="text" th:field="*{city}" class="reg4" placeholder="  г. Минск">
        <p class="reg3">Адрес доставки:</p>
        <input type="text" th:field="*{address}" class="reg4" placeholder="  Улица, дом, квартира" required>
        <p class="reg3">Телефон:</p>
        <input type="text" th:field="*{phoneNumberDeliv}" class="reg4" placeholder="  +375 (29/44) 000 00 00">

        <p class="opl">Оплата</p>
        <p class="pol2">___________________________________</p>
        <div class="choice">
                <p class="reg3">Номер карты</p>
                <input type="text" th:field="*{creditСardNumber}" maxlength="16"class="reg4" placeholder=" xxxx xxxx xxxx xxxx" required>
                <p class="reg3"> CVV</p>
                <input type="text" th:field="*{cvv}" class="reg4"  maxlength="3" placeholder=" xxx" required>
                <p class="reg3"> Дата</p>
                <input type="month" th:field="*{expiryDate}" class="reg4"   required>

        </div>

        <input type="hidden" th:value="${phone.id}" name="id" />
        <input type="submit" class="pay" value="Оплатить">
        </form>

        <footer class="footer5">
            <p class="help">© 2018 Онлайн-магазин Samsung, Минск</p>
            <p class="cop">Присоединяйтесь к нам в социальных сетях:</p>
            <a href="https://vk.com/samsung" ><img th:src="@{/images/vk.svg}"  class="vk"></a>
            <a href="https://twitter.com/samsungru" ><img th:src="@{/images/twitter.png}" class="twitter"></a>
            <a href="https://ru-ru.facebook.com/SamsungMobile/" ><img th:src="@{/images/facebook.png}"  class="facebook"></a>
            <a href="https://www.instagram.com/samsungru/" ><img  th:src="@{/images/instagram.png}"  class="instagram"></a>

        </footer>
    </body>
</html>