<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="${phone.nameOfModel}"/>  <!--ПОДТЯНУТЬ НАЗВАНИЕ ИЗ БД-->
        <link rel="icon" th:href="@{/images/favicon.ico}"  type="image/x-icon">

        <link href="css/logo-nav.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" >
                    <img th:src="@{/images/samsung_logo.png}" width="150" height="30" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Главная
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">О нас</a>
                        </li>
                        <li sec:authorize="isAuthenticated()"class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Выход</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()"class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>

            <img class="phone2" th:src="${phone.pict}">
            <!--<img class="phone" src="https://content2.onliner.by/catalog/device/header/939908762a8a37184b9ee967945b17ab.jpeg">-->
            <p class="cl1" th:text="${phone.nameOfModel}"></p> <!--ПОДТЯНУТЬ НАЗВАНИЕ ИЗ БД-->
            <p th:inline="text" class="op1"> [[${phone.os}]], Экран [[${phone.screenTechnology}]], [[${phone.cpu}]], ОЗУ [[${phone.ram}]], флэш-память [[${phone.flashMemory}]],<br> камера [[${phone.mp}]] Мп, аккумулятор [[${phone.batteryCapacity}]] мА·ч </p>
            <p class="price1" th:inline="text" >[[${phone.cost}]] р.</p> <!--ПОДТЯНУТЬ ЦЕНУ ИЗ БД-->

        <form action="#" th:action="pay" th:field="${phone}" method="post">
            <input type="hidden" th:value="${phone.id}" name="id" />
            <input type="submit" value="Купить" class="pay" />
        </form>

            <table class="t1">
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Общая информация</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Дата выхода на рынок</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.dateOfEntry}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Основные</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Операционная система</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.os}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Размер экрана</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.screenSize}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Разрешение экрана</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.screenResolution}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Оперативная память</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.ram}"> ???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Флэш-память</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.flashMemory}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Количество точек матрицы</a>
                    </th>
                    <th class="t4">
                        <a th:inline="text" >[[${phone.mp}]] Мп</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Количество SIM-карт</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.numOfSimCards}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Максимальное разрешение видео</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.maxVideoResolurion}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Процессор</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Процессор</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.cpu}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Тактовая частота процессора</a>
                    </th>
                    <th class="t4">
                        <a th:inline="text" >[[${phone.clockSpeed}]] МГц</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Количество ядер</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.numOfCores}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Разрядность процессора</a>
                    </th>
                    <th class="t4">
                        <a th:inline="text" >[[${phone.sizeOfProcessor}]] бита</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Конструкция</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Конструкция корпуса</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.housingDesign}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Цвет корпуса</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.colorOfCase}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Цвет фронтальной панели</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.frontPanelColor}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Размеры и вес</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Длина</a>
                    </th>
                    <th class="t4">
                        <a th:inline="text" >[[${phone.length}]] мм</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Ширина</a>
                    </th>
                    <th class="t4">
                        <a th:inline="text" >[[${phone.width}]] мм</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Толщина</a>
                    </th>
                    <th class="t4">
                        <a th:inline="text" >[[${phone.thickness}]] мм</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Вес</a>
                    </th>
                    <th class="t4">
                        <a  th:inline="text" >[[${phone.weight}]] г</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Экран</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Технология экрана</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.screenTechnology}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Количество цветов экрана</a>
                    </th>
                    <th class="t4">
                        <a  th:inline="text" >[[${phone.numOfColorsOfScreen}]] млн</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Соотношение сторон</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.aspectRatio}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Интерфейсы</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Bluetooth</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.bluetooth}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Аудиовыход</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.audioOutput}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Wi-Fi</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.wiFi}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Разъём подключения</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.connectionConnector}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t3" colspan="2">
                        <a>Аккумулятор и время работы</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Тип аккумулятора</a>
                    </th>
                    <th class="t4">
                        <a th:text="${phone.batteryType}">???</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Ёмкость аккумулятора</a>
                    </th>
                    <th class="t4">
                        <a th:inline="text" >[[${phone.batteryCapacity}]] мА·ч</a>
                    </th>
                </tr>
                <tr class="t2">
                    <th class="t4">
                        <a>Время разговора</a>
                    </th>
                    <th class="t4">
                        <a  th:inline="text" >[[${phone.talkTime}]] ч</a>
                    </th>
                </tr>



            </table>
        <footer class="footer2">
            <p class="help">© 2018 Онлайн-магазин Samsung, Минск</p>
            <p class="cop">Присоединяйтесь к нам в социальных сетях:</p>
            <a href="https://vk.com/samsung" ><img th:src="@{/images/vk.svg}"  class="vk"></a>
            <a href="https://twitter.com/samsungru" ><img th:src="@{/images/twitter.png}" class="twitter"></a>
            <a href="https://ru-ru.facebook.com/SamsungMobile/" ><img th:src="@{/images/facebook.png}"  class="facebook"></a>
            <a href="https://www.instagram.com/samsungru/" ><img  th:src="@{/images/instagram.png}"  class="instagram"></a>

        </footer>
    </body>
</html >