<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="icon" th:href="@{/images/favicon.ico}"  type="image/x-icon">
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />

	<!-- Custom styles for this template -->
	<link href="css/logo-nav.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!--<link href="sticky-footer.css" rel="stylesheet">-->
  	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
  	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-light fixed" style="background-color: #e3f2fd;">
		<div class="container">
			<a class="navbar-brand" >
				<img th:src="@{/images/samsung_logo.png}" width="150" height="30" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Главная
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/about}">О нас</a>
					</li>
					<li sec:authorize="isAuthenticated()"class="nav-item">
						<a class="nav-link" th:href="@{/logout}">Выход</a>
					</li>
					<li sec:authorize="!isAuthenticated()"class="nav-item">
						<a class="nav-link" th:href="@{/login}">Вход</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<body>
	<form th:action="@{/login}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Авторизация</button>
	</form>	
	
	<div class="container ">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Регистрация</h2>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
								   class="validation-message"></label>
							<input type="text" th:field="*{login}" placeholder="Логин"
								   class="form-control" required />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								   placeholder="Password" class="form-control" required /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Имя"
								class="form-control" required/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
								class="validation-message"></label>
							<input type="password" th:field="*{surname}"
								placeholder="Фамилия" class="form-control" required/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="email" th:field="*{email}" placeholder="Email"
								   class="form-control" required/> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="date" th:field="*{dateOfBrth}" placeholder="Дата рождения"
								class="form-control" required /> <label
								th:if="${#fields.hasErrors('dateOfBrth')}" th:errors="*{dateOfBrth}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Регистрация</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{address}" placeholder="Адрес"
								   class="form-control" required /> <label
								th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
								class="validation-message"></label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>